body{
    /*Free Vertical Stripes SVG provided by SVGeez.com - CC 4.0 License - © 2019 Megan Young */
font-family: 'Poppins', sans-serif;
}

.contact{
    background: url("assets/images/sample.jpg");    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bgsvg{
    background-color:transparent;
fill:rgba(238, 186, 186, 0.29);
background-size:500px;
background-repeat:repeat;
background-image:url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 500 500' style='enable-background:new 0 0 500 500;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0{fill:rgba(238, 186, 186, 0.36);} %3C/style%3E%3Cg%3E%3Cg%3E%3Crect y='-51.5' class='st0' width='50' height='553'/%3E%3C/g%3E%3Cg%3E%3Crect x='100' y='-51.5' class='st0' width='50' height='553'/%3E%3C/g%3E%3Cg%3E%3Crect x='200' y='-51.5' class='st0' width='50' height='553'/%3E%3C/g%3E%3Cg%3E%3Crect x='300' y='-51.5' class='st0' width='50' height='553'/%3E%3C/g%3E%3Cg%3E%3Crect x='400' y='-51.5' class='st0' width='50' height='553'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");


}
.strtr{
    background-color:transparent;
    fill:rgb(244, 203, 203);
    background-size:500px;
    background-repeat:repeat-x;
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500' style='enable-background:new 0 0 500 500'%3E%3Cstyle type='text/css'%3E .st0{fill:rgb(244, 203, 203);} %3C/style%3E%3Cpath class='st0' d='M0,0v9h0.5C0.8,22.3,11.7,33,25,33S49.2,22.3,49.5,9h1C50.8,22.3,61.7,33,75,33S99.2,22.3,99.5,9h1 c0.3,13.3,11.2,24,24.5,24s24.2-10.7,24.5-24h1c0.3,13.3,11.2,24,24.5,24s24.2-10.7,24.5-24h1c0.3,13.3,11.2,24,24.5,24 s24.2-10.7,24.5-24h1c0.3,13.3,11.2,24,24.5,24s24.2-10.7,24.5-24h1c0.3,13.3,11.2,24,24.5,24s24.2-10.7,24.5-24h1 c0.3,13.3,11.2,24,24.5,24s24.2-10.7,24.5-24h1c0.3,13.3,11.2,24,24.5,24s24.2-10.7,24.5-24h1c0.3,13.3,11.2,24,24.5,24 s24.2-10.7,24.5-24h0.5V0H0z'/%3E%3C/svg%3E");
}

.headings {
    font-family: 'Chewy', cursive;
    color: rgb(223, 80, 139);
    font-size: 34px;
}

.pfont {
    font-family: 'Poppins', sans-serif;
}

.navbar .headings {
    font-family: 'Chewy', cursive;
    color: rgb(223, 80, 139) !important;
    font-size: 30px!important;
}

.instagram__text {
    padding-top: 90px;
}

.instagram__text .section-title {
    margin-bottom: 55px;
}

.instagram__text h5 {
    font-size: 20px;
    color: #444444;
    position: relative;
    z-index: 1;
}

.instagram__text h5:after {
    position: absolute;
    left: 0;
    top: -34px;
    background: url(../img/instagram/cake-piece.png) no-repeat;
    height: 139px;
    width: 114px;
    content: "";
}

.instagram__text h5 i {
    color: #111111;
    font-size: 36px;
    position: relative;
    top: 6px;
    margin-right: 8px;
}

.instagram__pic {
    margin-bottom: 30px;
}

.instagram__pic.middle__pic {
    padding-top: 30px;
    margin-bottom: 0;
}

.instagram__pic img {
    min-width: 100%;
}


/*---------------------
  Footer
-----------------------*/

.footer {
    padding-top: 70px;
    background-image: url('assets/images/xyz.jpg');
}

.footer__widget {
    position: relative;
    margin-bottom: 30px;
}

.footer__widget:after {
    position: absolute;
    right: 25px;
    top: 0;
    width: 1px;
    height: 165px;
    background: rgba(255, 255, 255, 0.1);
    content: "";
}

.footer__widget h6 {
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.footer__widget ul li {
    list-style: none;
    font-size: 14px;
    color: #a4a4a4;
    line-height: 36px;
}

.footer__about {
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

.footer__about:after {
    position: absolute;
    right: -35px;
    top: 0;
    width: 1px;
    height: 165px;
    background: rgba(255, 255, 255, 0.1);
    content: "";
}

.footer__about .footer__logo {
    margin-bottom: 32px;
}

.footer__about .footer__logo a {
    display: inline-block;
}

.footer__about p {
    font-size: 14px;
    color: #a4a4a4;
    line-height: 26px;
    margin-bottom: 25px;
}

.footer__about .footer__social a {
    display: inline-block;
    color: #ffffff;
    background: rgba(225, 225, 225, 0.1);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    margin-right: 6px;
}

.footer__about .footer__social a:last-child {
    margin-right: 0;
}

.footer__newslatter {
    padding-left: 50px;
    margin-bottom: 30px;
}

.footer__newslatter h6 {
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.footer__newslatter p {
    font-size: 14px;
    color: #a4a4a4;
    line-height: 26px;
    margin-bottom: 25px;
}

.footer__newslatter form {
    position: relative;
}

.footer__newslatter form input {
    height: 50px;
    width: 100%;
    padding-left: 22px;
    background: rgba(253, 243, 234, 0.2);
    border: none;
    color: #ffffff;
    font-size: 14px;
}

.footer__newslatter form input::-webkit-input-placeholder {
    color: #ffffff;
}

.footer__newslatter form input::-moz-placeholder {
    color: #ffffff;
}

.footer__newslatter form input:-ms-input-placeholder {
    color: #ffffff;
}

.footer__newslatter form input::-ms-input-placeholder {
    color: #ffffff;
}

.footer__newslatter form input::placeholder {
    color: #ffffff;
}

.footer__newslatter form button {
    font-size: 20px;
    color: #f08632;
    background: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 20px;
}

.copyright {
    background: #000000;
    padding: 18px 0 14px;
    margin-top: 40px;
}

.copyright__text {
    margin-bottom: 0;
    font-size: 14px;
    color: #888888;
}

.copyright__text i {
    color: #f08632;
}

.copyright__text a {
    color: #f08632;
}

.copyright__widget {
    text-align: right;
}

.copyright__widget ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
    position: relative;
}

.copyright__widget ul li:after {
    position: absolute;
    right: -18px;
    top: 0;
    content: "|";
    color: #888888;
}

.copyright__widget ul li:last-child {
    margin-right: 0;
}

.copyright__widget ul li:last-child:after {
    display: none;
}

.copyright__widget ul li a {
    font-size: 14px;
    color: #888888;
}


/*---------------------
  Contact
-----------------------*/

.contact .map {
    height: 400px;
    margin-bottom: 70px;
}

.contact__address {
    padding-bottom: 40px;
    border-bottom: 1px solid #e8eff4;
    margin-bottom: 70px;
}

.contact__address__item {
    margin-bottom: 30px;
}

.contact__address__item h6 {
    color: #111111;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.contact__address__item ul li {
    list-style: none;
    margin-bottom: 20px;
    overflow: hidden;
}

.contact__address__item ul li:last-child {
    margin-bottom: 0;
}

.contact__address__item ul li span {
    font-size: 24px;
    color: #111111;
    margin-right: 25px;
    float: left;
}

.contact__address__item ul li p {
    font-size: 14px;
    color: #444444;
    line-height: 26px;
    margin-bottom: 0;
    overflow: hidden;
}

.contact__text h3 {
    color: #111111;
    font-weight: 700;
    font-style: italic;
    font-family: "Playfair Display", serif;
    margin-bottom: 20px;
}

.contact__text ul {
    margin-bottom: 35px;
}

.contact__text ul li {
    list-style: none;
    font-size: 16px;
    color: #444444;
    line-height: 36px;
}

.contact__form form input {
    width: 100%;
    height: 50px;
    border: 1px solid #e1e1e1;
    background: #fafafa;
    font-size: 14px;
    color: #111111;
    padding-left: 20px;
    margin-bottom: 30px;
}

.contact__form form input:last-child {
    color: #111111;
}

.contact__form form textarea {
    width: 100%;
    height: 140px;
    border: 1px solid #e1e1e1;
    background: #fafafa;
    font-size: 14px;
    color: #111111;
    padding-left: 20px;
    padding-top: 12px;
    margin-bottom: 24px;
    resize: none;
}

.contact__form form textarea:last-child {
    color: #111111;
}

.fancy {
    padding: auto;
    margin: auto;
    color: white;
    background-color: balck;
    width: auto;
    height: auto;
}


/*kefiosfdiosdf*/

.custom-btn {
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}

.btn-6 {
    background: #000;
    color: #fff;
    line-height: 42px;
    padding: 0;
    border: none;
}

.btn-6 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.btn-6:before,
.btn-6:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 2px;
    background: #000;
}

.btn-6:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
}

.btn-6:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
}

.btn-6:hover {
    color: #000;
    background: transparent;
}

.btn-6:hover:before {
    transition: all 500ms ease;
    height: 100%;
}

.btn-6:hover:after {
    transition: all 500ms ease;
    height: 100%;
}

.btn-6 span:before,
.btn-6 span:after {
    position: absolute;
    content: "";
    background: #000;
}

.btn-6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: 2px;
    transition: all 500ms ease;
}

.btn-6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    transition: all 500ms ease;
}

.btn-6 span:hover:before {
    width: 100%;
}

.btn-6 span:hover:after {
    width: 100%;
}


/* Solid border */

hr.solid {
    border-top: 0.15px solid rgb(180, 180, 180);
    width: 85%;
    align-self: center;
    justify-self: center;
    align-items: center;
    align-content: center;
}


/* nav bar */

.navbar .navbar-nav .nav-link {
    color: #000000;
    font-size: 1.1em;
}

.navbar .navbar-nav .nav-link:hover {
    color: #808080;
}

.sm-icons {
    flex-direction: row;
}

@media only screen and (max-width: 960px) {
    .sm-icons .nav-item {
        padding-right: 1em;
    }
}




.zoro {
    background: url("../images/sample.jpg") no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 40px;
}


/* product page hero image */

.hero-container {
    height: 70vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.hero {
    background: url('https://images.unsplash.com/photo-1467189386127-c4e5e31ee213?auto=format&fit=crop&w=1350&q=80') no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 40px;
    transition: transform 2s;
}

.hero:hover {
    transform: scale(1.15);
}

.hero-stuff {
    position: absolute;
    top: 30%;
    left: 20%;
}

h1 {
    font-size: 55px;
    font-weight: 700;
    font-family: sans-serif;
    color: #fff;
}

p {
    font-family: sans-serif;
}


/* product page hero image ends here*/


/*---------------------
  Product
-----------------------*/

.product {
    padding-top: 50px;
}

.product__item {
    margin-bottom: 40px;
}

.product__item:hover .product__item__pic .product__label span {
    background: #f08632;
    color: #ffffff;
}

.product__item:hover .product__item__text .product__item__price {
    opacity: 0;
    visibility: hidden;
}

.product__item:hover .product__item__text .cart_add {
    opacity: 1;
    visibility: visible;
    bottom: -4px;
}

.product__item__pic {
    height: 270px;
    position: relative;
    background-position: center;
}

.product__item__pic .product__label {
    position: absolute;
    left: 0;
    bottom: -15px;
    text-align: center;
    width: 100%;
}

.product__item__pic .product__label span {
    display: inline-block;
    font-size: 14px;
    color: #111111;
    background: #ffffff;
    padding: 6px 10px 4px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 10px rgba(223, 223, 224, 0.7);
    box-shadow: 0 0 10px rgba(223, 223, 224, 0.7);
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}

.product__item__text {
    padding-top: 40px;
    text-align: center;
    position: relative;
}

.product__item__text h6 {
    margin-bottom: 16px;
}

.product__item__text h6 a {
    color: #111111;
    font-weight: 600;
    text-transform: uppercase;
}

.product__item__text .product__item__price {
    color: #111111;
    font-weight: 600;
    font-size: 16px;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.product__item__text .cart_add {
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
    opacity: 0;
    visibility: hidden;
}

.product__item__text .cart_add a {
    color: #111111;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    border-bottom: 2px solid #f08632;
    padding-bottom: 4px;
}


/*---------------------
  Product ends here
-----------------------*/


/*---------------------
  Shop
-----------------------*/

.shop {
    padding-top: 80px;
}

.shop__option {
    margin-bottom: 50px;
}

.shop__option__search form {
    border: 1px solid #e1e1e1;
    height: 46px;
    position: relative;
}

.shop__option__search form .nice-select {
    float: left;
    border: none;
    background: transparent;
    display: inline-block;
    width: 25%;
    height: 44px;
    line-height: 44px;
    padding-left: 30px;
    border-radius: 0;
}

.shop__option__search form .nice-select .list {
    margin-top: 0;
    border-radius: 0;
    width: 100%;
}

.shop__option__search form .nice-select:before {
    position: absolute;
    right: 0;
    top: 12px;
    width: 1px;
    height: 20px;
    background: #e1e1e1;
    content: "";
}

.shop__option__search form .nice-select:after {
    border-bottom: 1px solid #888;
    border-right: 1px solid #888;
    height: 7px;
    margin-top: -5px;
    width: 7px;
    right: 26px;
}

.shop__option__search form .nice-select span {
    font-size: 16px;
    color: #000000;
}

.shop__option__search form input {
    width: 75%;
    height: 100%;
    border: none;
    font-size: 16px;
    color: #000000;
    padding-left: 30px;
}

.shop__option__search form input::-webkit-input-placeholder {
    color: #000000;
}

.shop__option__search form input::-moz-placeholder {
    color: #000000;
}

.shop__option__search form input:-ms-input-placeholder {
    color: #000000;
}

.shop__option__search form input::-ms-input-placeholder {
    color: #000000;
}

.shop__option__search form input::placeholder {
    color: #000000;
}

.shop__option__search form button {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background: transparent;
    height: 100%;
    padding: 0 15px;
}

.shop__option__right {
    text-align: right;
}

.shop__option__right .nice-select {
    border: none;
    background: #f5f5f5;
    display: inline-block;
    width: 205px;
    height: 46px;
    line-height: 46px;
    padding-left: 30px;
    border-radius: 0;
    float: none;
    margin-right: 18px;
}

.shop__option__right .nice-select .list {
    margin-top: 0;
    border-radius: 0;
    width: 100%;
}

.shop__option__right .nice-select:after {
    border-bottom: 1px solid #888;
    border-right: 1px solid #888;
    height: 7px;
    margin-top: -5px;
    width: 7px;
    right: 26px;
}

.shop__option__right .nice-select span {
    font-size: 16px;
    color: #000000;
}

.shop__option__right a {
    display: inline-block;
    font-size: 18px;
    color: #000000;
    margin-left: 8px;
    -webkit-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.shop__option__right a:hover {
    color: #888888;
}

.shop__pagination a {
    display: inline-block;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    -webkit-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}

.shop__pagination a span {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    top: 2px;
}

.shop__pagination a:hover {
    background: #000000;
    color: #ffffff;
}

.shop__last__text {
    margin-bottom: 0;
    color: #000000;
    text-align: right;
}

.spad {
    padding-top: 100px;
    padding-bottom: 100px;
}


/*---------------------
  Class
-----------------------*/

.class {
    background: rgba(240, 135, 50, 0.1);
    position: relative;
    padding-bottom: 0;
}

.class__form {
    height: 620px;
}

.class__form form input {
    height: 50px;
    width: 100%;
    padding-left: 20px;
    font-size: 15px;
    color: #444444;
    background: #ffffff;
    border: none;
    margin-bottom: 20px;
}

.class__form form input::-webkit-input-placeholder {
    color: #444444;
}

.class__form form input::-moz-placeholder {
    color: #444444;
}

.class__form form input:-ms-input-placeholder {
    color: #444444;
}

.class__form form input::-ms-input-placeholder {
    color: #444444;
}

.class__form form input::placeholder {
    color: #444444;
}

.class__form form .nice-select {
    float: none;
    border-radius: 0;
    border: none;
    padding-left: 20px;
    margin-bottom: 20px;
    height: 50px;
    line-height: 50px;
}

.class__form form .nice-select span {
    font-size: 15px;
    color: #444444;
}

.class__form form .nice-select .list {
    margin-top: 0;
    border-radius: 0;
    width: 100%;
}

.class__form form .nice-select:after {
    border-bottom: 1.5px solid #111;
    border-right: 1.5px solid #111;
    height: 9px;
    right: 25px;
    width: 9px;
}

.class__form form button {
    letter-spacing: 2px;
    width: 100%;
}

.class__video {
    height: 720px;
    width: 47%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: -50px;
}

.class__video .play-btn {
    display: inline-block;
    width: 70px;
    height: 70px;
    background: #f08632;
    font-size: 24px;
    color: #ffffff;
    line-height: 70px;
    text-align: center;
    border-radius: 50%;
}